.container-0{
    border: dashed orange 1px;
    text-align: center;
    padding: 10px;
    margin: auto;

}

.container-1{
    border: dashed red 1px;
    text-align: right;
    padding: 10px;
    margin: auto;

}
.container-2{
    text-align: center;
    padding: 5px;
    margin: auto;
    border: dashed purple 1px;
}
.container-3{
    text-align: center;
    padding: 5px;
    margin: auto;
    border: dashed blue 1px;
}
