/*navbar color*/
.container-fluid{
     background-color: black;
 }


.container{
    background-color: ghostwhite;

}

.jumbotron{
    background-image: url("images/blogbk.jpg");
    background-size: cover;
}





